<div id="<%= dom_id cat %>">
  <p>
    <strong>Name:</strong>
    <%= cat.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= cat.age %>
  </p>

  <p>
    <strong>Breed:</strong>
    <%= cat.breed %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= cat.gender %>
  </p>

  <div>
    <strong>Humen:</strong>
    <% cat.humen.each do |human| %>
      <div style="border: 1px solid red; margin-left: 24px;">
        <%= render human %>
      </div>
    <% end %>
  </div>
</div>
